<html>
  <head>
    <title> Search  </title> <!-- se muestra ese título en la pestaña de safari-->
    <h1> Resultados de búsqueda por "{{query}}" </h1>
  </head>                                            
  <body>
    <div class="wrapper">   
      <nav class="main-nav">
        <a href="http://127.0.0.1:8000/">Back Home</a> <!-- CAMBIARLE EL LINK AL DEL GITHUB PAGES-->
      </nav>
    </div>

    <p> 
      RESULTADOS DE {{query}} EN EPISODES
      
      {% if episodes %} 
      <ul>
          {% for episode in episodes %} 
          
              <li> Episode name: <a href="/episode/{{ episode.id }}"> {{episode.name}} </a></li> 
        
          {% endfor %} 
        </ul>
      {% else %}
          <p> No hay episodios que mostrar </p>
      {% endif %}
      
   </p>      


    <p> 
      RESULTADOS DE {{query}} EN CHARACTERS
          {% if characters %}

          <ul>

            {% for character in characters %} 
            
              <li> Character name: <a href="/character/{{ character.id }}"> {{character.name}} </a></li>   <!-- CAMBIARLE EL LINK AL DEL GITHUB PAGES-->
              
            {% endfor %} 

          </ul>

          {% else %}
              <p> No hay personajes que mostrar</p>
          {% endif %}

   </p>      

   <p> 
    RESULTADOS DE {{query}} EN LOCATIONS
    {% if locations %} 
      <ul>

        {% for location in locations %} 
        
        <li> Location name: <a href="/location/{{ location.id }}"> {{location.name}} </a>  </li> 

        {% endfor %} 

      </ul>


      {% else %}
          <p> No hay ubicaciones que mostrar</p>

    {% endif %}
</p>      

<form action="/search/" method="GET">
  <input type="text" name='query_input' placeholder="Eg: Rick">
  <input type="submit" value="Search">
</form>

  </body>
   
</html>

